/software-design-and-analysis/ExercicioPOO/nbproject/private/
/software-design-and-analysis/ExercicioPOO/build/
/data-structure-notes/Listas/ESDC4Aula02/ESDC4Aula02/build/
/data-structure-notes/Listas/ESDC4Aula03/build/
/data-structure-notes/Projects/ProjetoESDLinear-master/nbproject/private/
/data-structure-notes/Listas/ESDC4Aula07/build/
/data-structure-notes/Listas/ESDC4Aula10/build/
/information-organization-and-retrieval/OrdenacoesGraficas - Copia/nbproject/private/
/information-organization-and-retrieval/Labirinto/nbproject/private/
/compiler-construction/Projeto01-Scanner-Alunos/Projeto01-Scanner/build/
/information-organization-and-retrieval/ArvoreAVL/ArvoreAVL/nbproject/private/
/compiler-construction/Projeto02-ParserV1-Alunos/Projeto02-ParserV1/build/
/information-organization-and-retrieval/ALG-AVL/ALG-AVL/build/
/information-organization-and-retrieval/ALG-AVL/ALG-AVL/nbproject/private/
/compiler-construction/Projeto03-ParserV2-Alunos/Projeto03-ParserV2/build/
/compiler-construction/Projeto04-ParserV3-Alunos/Projeto04-ParserV3/build/
/compiler-construction/Projeto05-AnaliseDeRestricoes-Alunos/Projeto05-AnaliseDeRestricoes/build/
/compiler-construction/Projeto07-GC-Subprogramas-Arrays-Alunos/Projeto07-GC-Subprogramas-Arrays/build/
/information-organization-and-retrieval/Implementations/build/
/information-organization-and-retrieval/Implementations/nbproject/private/
/information-organization-and-retrieval/Implementations/dist/
