/software-design-and-analysis/ExercicioPOO/nbproject/private/
/software-design-and-analysis/ExercicioPOO/build/
/data-structure-notes/Listas/ESDC4Aula02/ESDC4Aula02/build/
/data-structure-notes/Listas/ESDC4Aula03/build/
/data-structure-notes/Projects/ProjetoESDLinear-master/nbproject/private/
